.titulo1{
    background-color:#312DAD;
    text-align: center;
    color: yellow;
    font-family: Arial Black;
    font-size: 40px;
}
.div2{
    background-color: #312DAD;
    font-family: Arial;
    color: yellow;
}
h2{
    background-color: #312DAD;
    font-family: Brodway;
    color: yellow;   
}
thead{
    color: red;
}
ul>li>strong{
    color: blue;
}
table{
    font-family: tahoma;
}
footer{
    background-color: black;
    font-size: 10px;
    height: 20px;
    text-align: center;
    color: white;
}
nav{
    color: white;
    background-color: black;
    text-align: right;  
}
header{

}