main{
    color: white;
}
header{
    background-color: blueviolet;
    height: 200px;
}

nav{
    background-color: cornflowerblue;
    width: 15%;
}

section{
    background-color: indigo;
    width: 70%;
}

aside{
    background-color: magenta;
    width: 15%;
}

footer{
    background-color: darkorchid;
    width: 80px;
    clear: left;
}

nav,aside,section{
    float: left;
    height: 300px;
}