.cuadrado{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
}
.rombo{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px; 
    transform: rotate(45deg);
}

.paralelogramo{
    width: 150px;
    height: 100px;
    background-color: brown;
    margin-left: 20px; 
    transform: skew(20deg);
}
.triangulo{
    width: 0px;
    height: 0px;
  
    margin-left: 20px;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-left: 50px solid yellow;
    border-bottom: 50px solid yellow;
}
.circulo{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%; 
}
.circulo2{
    width: 0px;
    height: 0px;
    border-radius: 100%;
    margin-left: 20px;
    border-top: 50px solid red;
    border-right: 50px solid blue;
    border-left: 50px solid yellow;
    border-bottom: 50px solid green;
}
.diamante{
    
}