/*PseudoElementos*/

p::first-letter{
    font-size: 2rem;
}

.pseudoEle{
    border: 2px solid black;
    width: 10%;
    text-align: center;
}
.pseudoEle::before{
    content: 'hola';
    background-color: red;
}
.pseudoEle::after{
    content: 'Perú';
    background-color: red;
}

/*PseudoClases*/
div:hover{
background-color: yellow;
}
/*Solo para selectores <a>*/
a:focus{
    color: green;
}
a:active{
    color: hotpink;
}
