.grid{
    display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 100px 50px 1fr 100px 50px;
  grid-template-areas: "my-header"
  "my-nav1" "my-section" "my-aside"
  "my-footer";
}

body{
    margin: 0px auto;
}

header{
    color: #7A5347;
    background-color: #6AEA58; 
    grid-area: my-header;
 }

#nav1{
    background-color: #58AD0E;
    grid-area: my-nav1;
  }
/* #nav2{
    background-color: #58AD0E;
    grid-area: my-nav2;
} */
section{
    background-color: indigo;
    grid-area: my-section;
}

aside{
    background-color: magenta;
    grid-area: my-aside;
}

footer{
    background-color: darkorchid;
    grid-area: my-footer;
}



/* @media (min-width:600px) and (max-width:1000px){
    
    .grid{
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 50px 1fr 100px;
        grid-template-areas: "my-header my-header"
        "my-nav my-nav" "my-aside my-section"
        "my-footer my-footer";
    }
} */
@media (min-width:1001px){
    .grid{
        grid-template-columns: 200px 30px ;
        grid-template-rows: 200px 1fr 1fr 1fr;
        grid-template-areas: "my-header my-header"
        "my-nav1 my-nav1"
        "my-section my-aside"
        "my-footer my-footer";
    }
}