body{
   
    font-family: 'Roboto', sans-serif;
}
 
.d-block{
 height: 850px;   
}
footer section{
    height: 220px;
    padding: 0;
}
.btn:hover{
    background: #000;
    color: #fff;
}
.producto1{
    width: 200px;
    float: left;
    padding-right: 10px;
}
