#contenedor{
    width: 520px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 10px;
    font-family: calibri;
}
#botones{
    text-align: center;
}
#cabezera{
    text-align: center;
    background-color: #735C40;   
}
#titulo{
    margin-bottom: 0px;
    font-size: 40px;
}
#datos{
    margin-left: 140px;
   
}
span{
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;
}
.nom{
    background-color: darkgray;
}
.titu{
    background-color: #734D1E;
    text-align: center;
}
li{
    list-style: none;
    margin-top: 10px;
}
ul{
    margin: 0px;
    padding-left: 0px;
    text-align: center;
    
}